<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/style4.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="main_box">
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <img class="logo " src="inventory2.png" alt="" >
          <a class="navbar-brand" href="/">
            <span class="navbar-brand mb-0 h1">Inventory Management</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Features
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/newProduct">Add Product</a></li>
                  <li><a class="dropdown-item" href="/sell">Sell Product</a></li>
                  <li><a class="dropdown-item" href="/showproducts">Show ALL Products</a></li>
                </ul>
              </li>
            </ul>
            
          </div>
          <div class="user">
            <img class="logo second" src="profile.png" alt="">
    
          </div>
         
        </div>
      </nav>

    <div class="container">

    <h1>Update Product</h1>
        <div class="form">
    <form method="post" action="/updateform/<%=result[0].id%>?_method=patch">
        <br>
        <br>
        <h2>Product name :- <%=result[0].product%></h2>
        <br>
        <label for="stock">enter new quantity &nbsp;</label>
        
        <input type="number" id="stock" placeholder="<%=result[0].stock%>" name="stock">
        <br>
        <br>
        <br>
        <button class="btn btn-secondary">submit</button>
    </form>
   </div>
</div>

</div>
</body>
</html>