*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background-image: url(14.jpg);
    height: 100vh;
    background-size: cover;
}

.navbar{
    background-color: #e1eef7;
}

.logo{
    height: 30px;
    width: 30px;
    position: relative;
    left: 3px;
}

.second{
    left: -15px;
    top: 3px;
    height: 38px;
    width: 42px;
}

.user
{
    display: flex;
    margin:0 60px;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

input {
    margin: 5px;
    padding: 5px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: rgba(248, 248, 248, 0.759);
}
.container{
    position: relative;
    top:30px
}

.form{
    text-align: center;
}